@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

::-moz-focus-inner {
    border: none;
}

body {
    min-width: 350px;
    background-color: black;
    background: url(../img/searchbg.jpg);
    background-position: center top;
    font-family: 'Abel', sans-serif;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.mainbox {
    /* prorções */
    padding: 30px;
    min-width: 300px;

    /* posicionamento */
    position: absolute;
    top: 50%;
    left: 0; right: 0;
    margin: auto;

    /* estilização */
    border-radius: 30px;
    background-color: rgb(0,0,0,0.7);
    box-shadow: 0px 0px 30px black;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mainbox.first {
    width: 500px;
}

.mainbox.second {
    max-width: fit-content;
}

.procurar {
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.procurar h1 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: white;
}

.procurar .infobox {
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    color: grey;
    background-color: rgb(0,0,0,0.1);
}

.procurar .infobox.show {
    display: block;
}

.procurar .infobox.denied {
    display: block;
    background-color: rgb(255,0,0,0.2);
    color: #c14545;
}

.procurar input {
    /* proporções */
    width: 100%;
    height: 40px;
    padding: 10px 2px;
    margin-bottom: 10px;

    /* estilização */
    color: white;
    outline: none;
    background: none;
    border: 1px solid #fff;
    border-width: 0 0 1px 0;
}

.procurar .botoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.procurar .botoes button {
    /* proporções */
    width: 48%;
    padding: 15px;

    /* estilização */
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
    background: none;
}

.procurar .botoes button:hover {
    background-color: rgb(156, 156, 156);
}

/* TELA RESULTADO */
.resultado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    color: white;
}

.resultado .retornar {
    font-size: 45px;
    text-transform: uppercase;
    position: absolute;
    top: -10px; left: 0px;
    cursor: pointer;
    /* text-shadow: 1px 1px 5px black; */
    transition: 0.2s;
}

.resultado .retornar:hover {
    transform: scale(1.03);
}

.resultado .retornar span {
    margin-right: 5px;
}

.resultado .nomecidade {
    width: 100%;
    font-size: 50px;
    height: 55px;
}

.resultado .nomecidade span {
    margin-left: 5px;
    font-size: 20px;
    letter-spacing: 2px;
}

.resultado .icone {
    position: absolute;
    right: 15px; top: 15px;
}

.resultado .icone img {
    background-color: #829ac3;
    border-radius: 50%;
    width: 30px;
}

.resultado .temperatura {
    font-size: 150px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    margin-top: 20px;
    color: var(--temperatura);
    margin: 20px 0;
    padding: 0;
    height: 120px;
    line-height: 130px;
}

.resultado .temperatura span {
    font-size: 40px;
}

.resultado .descricao-tempo {
    width: 100%;
    font-size: 17px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.resultado .subsessoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resultado .subsessoes fieldset {
    width: 48%;
    height: 70px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: rgb(0,0,0,0.5);
}

.resultado .subsessoes fieldset h3 {
    font-size: 11px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.resultado .subsessoes fieldset h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

a, a:visited {
    text-decoration: none;
    color: white;
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;;
    position: absolute;
    right: 5px; bottom: 5px;
    font-weight: lighter;
}

.hidden {
    display: none;
}

@media (max-width: 600px){
    .mainbox.first {
        width: 80%;
        height: 300px;
    }

    .procurar {
        height: 100%;
    }

    .procurar .botoes {
        flex-direction: column;
    }

    .procurar .botoes button {
        width: 100%;
    }
}